<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chinafocus.huaweimdm">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.huawei.permission.sec.MDM" />
    <uses-permission android:name="com.huawei.permission.sec.MDM_KEYGUARD" />
    <uses-permission android:name="com.huawei.permission.sec.MDM_DEVICE_MANAGER" />
    <uses-permission android:name="com.huawei.permission.sec.MDM_APP_MANAGEMENT" />
    <uses-permission android:name="com.huawei.systemmanager.permission.ACCESS_INTERFACE" />
    <uses-permission android:name="com.huawei.permission.sec.MDM_SETTINGS_RESTRICTION " />
    <uses-permission android:name="com.huawei.permission.sec.MDM_UPDATESTATE_MANAGER " />
    <uses-permission android:name="com.huawei.permission.sec.MDM_USB " />

    <uses-permission android:name="android.Manifest.permission.START_ACTIVITIES_FROM_BACKGROUND" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /><!-- 8.0必要权限  -->
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="com.huawei.mdm.sample.permission.HW_MDM_KIT"
        android:protectionLevel="signatureOrSystem" />

    <application>

        <!--        <receiver-->
        <!--            android:name=".broadcastReceiver.MyBroadcastReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->

        <!--                <category android:name="android.intent.category.HOME" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui" />

        <activity
            android:name=".MdmMainActivity"
            android:label="@string/mdm_app_name"
            android:permission="com.huawei.mdm.sample.permission.HW_MDM_KIT"
            android:screenOrientation="landscape">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <service
            android:name=".DetectService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config" />
        </service>

        <activity android:name=".LicenseActivity" />

        <receiver
            android:name=".SampleDeviceReceiver"
            android:label="MDM_Sample"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chinafocus.huaweimdm.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />

        </provider>

    </application>

</manifest>